[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
pep8-naming = "*"

[requires]
python_version = "3.8"
